<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Growtopia - Login</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial;
    }
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    .wrapper a {
      text-decoration: none;
      color: white;
      text-shadow: 0 0 5px black;
      font-weight: 550;
    }
    .wrapper p {
      color: white;
      text-shadow: 0 0 5px black;
      font-weight: 550;
    }
    .wrapper {
      background-color: rgba(5, 63, 255, 0.2);
      border: 5px solid #b7e0ff;
      border-radius: 5px;
      padding: 25px 40px;
    }
    .wrapper .title {
      text-align: center;
    }
    .wrapper .title a {
      font-size: 30px;
    }
    .wrapper .content {
      margin-top: 30px;
      width: 100%;
      padding: 0 20px;
    }
    .wrapper .content form {
      display: flex;
      flex-direction: column;
    }
    .input-box {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
    }
    .input-box input {
      height: 100%;
      width: 100%;
      border: 3px solid #b7e0ff;
      border-radius: 8px;
      background-color: #87a2ff;
      padding: 5px 10px;
      color: white;
    }
    .input-box input::placeholder {
      color: #b7e0ff;
      font-weight: 550;
    }
    .input-box input:focus {
      outline: 0;
      color: white;
      box-shadow: 0 0 10px #b7e0ff;
    }

    form .register-help {
      display: grid;
      gap: 15px;
      margin-top: 5px;
    }
    form .register-help a {
      font-size: 14px;
    }
    form .register-help p {
      font-size: 14px;
    }
    .help {
      text-align: center;
    }
    .login {
      margin-top: 12px;
      padding: 8px 10px;
      background-color: #87a2ff;
      border: 2px solid #b7e0ff;
      color: white;
      border-radius: 8px;
      text-shadow: 0 0 2px black;
      font-weight: 550;
      cursor: pointer;
    }
    .wrapper .login-save {
      margin-top: 20px;
      display: grid;
      gap: 7px;
      justify-content: center;
    }
    .login-save .button-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .login-save .button-box .logas {
      background-color: #87a2ff;
      color: white;
      border: 2px solid #b7e0ff;
      padding: 10px 30px;
      width: 100%;
      font-weight: 550;
      border-radius: 10px;
    }
    .login-save .button-box .delete {
      background-color: red;
      border: none;
      color: white;
      font-weight: 550;
      padding: 8px 15px;
      border-radius: 5px;
      cursor: pointer;
      margin-left: 10px;
    }
    .title p {
      margin-top: 10px;
      font-weight: 550;
      color: red;
    }
    .animation-dropdown {
      transform: translateY(-10px);
      opacity: 0;
      transition: all 0.9s ease-in-out;
    }
  </style>
  <body>
    <div class="wrapper">
      <div class="title animation-dropdown">
        <a href="">Log in with your GrowFlix ID</a>
        <p id="warn"></p>
      </div>
      <div class="content animation-dropdown  ">
        <form
          method="post"
          action="/player/growid/login/validate"
          accept-charset="UTF-8"
          id="loginForm"
        >
          <div class="input-box">
            <input
              type="text"
              name="growId"
              id="loginGrowId"
              placeholder="Your GrowFlix-PS Name"
            />
          </div>
          <div class="input-box">
            <input
              type="text"
              name="password"
              id="loginPassword"
              placeholder="Your GrowFlix-PS Password"
            />
          </div>
          <div class="register-help">
            <p style="text-align: center;">Create account? Enter Name without Password & Log In!</p>
            <a
              style="color: red; text-shadow: 0 0 2px black !important"
              class="help"
              href=""
              >Need Help? Join our Discord!</a
            >
          </div>
          <button id="loginButton" class="login">Log In</button>
          <a href="https://t.me/GrowFlix_showcase"
            ><marquee
              style="
                font-size: 13px;
                margin-top: 20px;
                color: white;
                font-weight: 550;
                text-shadow: 0 0 5px black;
              "
              behavior=""
              direction=""
              >Join GrowFlix Telegram Community: <label style="color: blue; text-decoration: underline;">https://t.me/GrowFlix_showcase</label></marquee
            ></a
          >
        </form>
      </div>
      <div class="login-save"></div>
    </div>
  </body>
  <script>
    const dropdownElements = document.querySelectorAll(".animation-dropdown");
    document.addEventListener("DOMContentLoaded", () => {
      const button = document.querySelector(".btn-aboutme");
      const homeImageProfile = document.querySelector(".container img");

      dropdownElements.forEach((element) => {
        setTimeout(() => {
          element.style.opacity = 1;
          element.style.transform = "translateY(0)";
        }, 500);
      });
    });
    // kepo
    document
      .getElementById("loginButton")
      .addEventListener("click", function (event) {
        event.preventDefault();
        const loginForm = document.getElementById("loginForm");
        const uName = document.getElementById("loginGrowId").value;
        const uPass = document.getElementById("loginPassword").value;

        if (!uName || !uPass) {
          document.getElementById("warn").innerHTML = "";
          loginForm.submit();
          return;
        } else {
          if (uName.length <= 2 || uPass.length <= 2) {
            document.getElementById("warn").innerHTML =
              "Username or Password must be > 2 character";
          } else {
            document.getElementById("warn").innerHTML = "";
            loginForm.submit();
          }
        }
      });
  </script>
</html>
